
URL: <%= webpage.node_name %>

Links: 
<ul>
  <% webpage.site_links.each do |links| %>
    <li>
    <%  fixed = fix_html(links.node_name)
    fixed ||= links.node_name %>
    <a href="<%= my_url_encode(fixed) %>">
        <%= links.node_name %>
      </a>
    </li>
  <% end %>
</ul>



